.column-image{
    display: flex;
    flex-direction: column;
    padding-block: 130px;
    background: url('../../svg/blob.svg');
    background-size: cover;
}

.column-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    
}

.row-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
    
}

.stick{
    top: 150px;
    position: sticky;
}

#grid-announcements{
    margin-top: 30px;
}
